@using Business.ViewModels.Common
@model EmployeeForgotPassword

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HR Platform</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/NiceAdmin/assets/img/favicon.png" rel="icon">
    <link href="~/NiceAdmin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NiceAdmin/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.5.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
    


<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form" class="forgot-pass-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="header-content">
        <h4 class="header-text">Şifrenizi mi unuttunuz?</h4>
        <hr />        
    </div>
    <div class="d-flex justify-content-center py-4">
        <a href="index.html" class="logo d-flex align-items-center w-auto">
            <img src="~/NiceAdmin/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">HR Platform</span>
        </a>
    </div>
    <div class="form-group forgot-password-content">
        <label asp-for="Email" class="col-md-3"></label>
        <div class="col-md-3">
            <input asp-for="Email" class="form-control col-md-3" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>    
    <div class="form-group forgot-password-content">
        <div class="col-md-1 " style="width:120px">
            <button type="submit" class="btn btn-primary form-control">Mail Gönder</button>
        </div>
    </div>
</form>
