@using Business.ViewModels.Common
@model EmployeeChangePassword

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
@section Scripts{
    <script src="~/jquery/password-hide.js"></script>
    <script src="~/jquery/password-hide1.js"></script>
    <script src="~/jquery/password-hide2.js"></script>
}

<form asp-area="Managers" asp-controller="Home" asp-action="ChangePassword" method="post" role="form" class="main-form" >
    <div class="header-content">
        <h1 class="header-text">Şifremi Değiştir</h1>
        <hr />
        <h4>
            @ViewBag.Message
        </h4>
    </div>
    
    <div asp-validation-summary="All" class="" />

    <div class="form-group pass-change-btn">
        <label asp-for="CurrentPassword" class="col-md-6 control-label"></label>
        <div class="input-icons col-md-12">
            <input id="txtPassword" type="password" class="form-control col-sm-9 input-field" asp-for="CurrentPassword" placeholder="Güncel Şifrenizi Giriniz">
            <span id="toggle_pwd" class="fa-fw fa fa-eye field-icon"></span>            
        </div>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group pass-change-btn">
        <label asp-for="Password" class="col-md-6 control-label"></label>                
        <div class="input-icons col-md-12">
            <input id="txtPassword1" type="password" class="form-control col-sm-9 input-field" asp-for="Password" placeholder="Yeni Şifre">
            <span id="toggle_pwd1" class="fa-fw fa fa-eye field-icon"></span>                                 
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group pass-change-btn">
        <label asp-for="ConfirmPassword" class="col-md-6 control-label"></label>
        <div class="input-icons col-md-12">
            <input id="txtPassword2" type="password" class="form-control col-sm-9 input-field" asp-for="ConfirmPassword" placeholder="Yeni Şifre">
            <span id="toggle_pwd2" class="fa-fw fa fa-eye field-icon"></span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <br />    

    <div class="form-group pass-change-btn">
        <button type="submit" class="btn btn-primary form-control col-md-4">Şifre Değiştir</button>        
    </div>
</form>





@*<div class="form-group pass-change-btn">
        <label asp-for="CurrentPassword" class="col-md-2 control-label"></label>
        <div class="col-md-12">
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="control-label"></span>
        </div>
    </div>
    <br />*@

@*<div class="form-group pass-change-btn">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-12">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />

    <div class="form-group pass-change-btn">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-12">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br />*@